@use "../abstracts/variables";

// src/scss/components/_tooltips.scss

// Параметры для tooltip (их можно переопределять в основном файле)
$tooltip-bg-color: var(--tooltip-bg-color, rgba(16, 16, 16, 0.9));
$tooltip-text-color: var(--tooltip-text-color, #fff);
$tooltip-border-color: var(--color-hover);
$tooltip-border-radius: var(--tooltip-border-radius, 0.6rem);
$tooltip-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
// $tooltip-max-width: 220px;
$tooltip-padding: 0.4rem 0.6rem;

.tooltip {
  position: absolute;
  z-index: 1070;
  font-weight: 500;
  font-size: 0.85rem;
  opacity: 0;
  pointer-events: none;
  // Изначальное состояние с размытием
  filter: blur(4px);
  transition:
    opacity variables.$transition-duration ease,
    filter variables.$transition-duration ease;

  &.show {
    opacity: 1;
    filter: blur(0);
  }

  .tooltip-inner {
    // max-width: $tooltip-max-width;
    padding: $tooltip-padding;
    color: $tooltip-text-color;
    text-align: left;
    background-color: $tooltip-bg-color;
    border: 1px solid $tooltip-border-color;
    border-radius: $tooltip-border-radius;
    box-shadow: $tooltip-box-shadow;
    position: relative;
  }

  // Стили для стрелки tooltip
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  // Стрелка для tooltip, отображаемого сверху
  &.bs-tooltip-top {
    .tooltip-arrow {
      bottom: -0.4rem;
      left: calc(50% - 0.4rem);
      border-width: 0.4rem 0.4rem 0 0.4rem;
      border-color: $tooltip-bg-color transparent transparent transparent;
    }
  }

  // Стрелка для tooltip, отображаемого снизу
  &.bs-tooltip-bottom {
    .tooltip-arrow {
      top: -0.4rem;
      left: calc(50% - 0.4rem);
      border-width: 0 0.4rem 0.4rem 0.4rem;
      border-color: transparent transparent $tooltip-bg-color transparent;
    }
  }

  // Стрелка для tooltip, отображаемого слева
  &.bs-tooltip-left {
    .tooltip-arrow {
      top: calc(50% - 0.4rem);
      right: -0.4rem;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-color: transparent transparent transparent $tooltip-bg-color;
    }
  }

  // Стрелка для tooltip, отображаемого справа
  &.bs-tooltip-right {
    .tooltip-arrow {
      top: calc(50% - 0.4rem);
      left: -0.4rem;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-color: transparent $tooltip-bg-color transparent transparent;
    }
  }

  // Медиазапрос для мобильных устройств
  @media (max-width: 576px) {
    font-size: 0.9rem;
    .tooltip-inner {
      padding: 0.5rem 0.75rem;
      max-width: 180px;
    }
  }
}
