      <!-- Context Menu -->
      <nav id="context-menu" class="context-menu" aria-label="Контекстное меню">
        <ul>
          <li id="open-video">
            <i class="fa-solid fa-circle-play fa-fade"></i>
            <span>Открыть видео</span>
          </li>
          <li id="open-folderc">
            <i class="fa-regular fa-folder-open"></i>
            <span>Открыть папку</span>
          </li>
          <li id="open-site">
            <i class="fa-solid fa-link"></i>
            <span>Открыть сайт</span>
          </li>
          <li id="delete-entry">
            <i class="fa-regular fa-calendar-xmark"></i>
            <span>Удалить запись</span>
          </li>
          <li id="delete-file">
            <i class="fa-solid fa-trash"></i>
            <span>Удалить файл</span>
          </li>
          <li id="retry-download">
            <i class="fa-solid fa-arrow-rotate-right"></i>
            <span>Повторить загрузку</span>
          </li>
        </ul>
      </nav>
