    <!-- Footer -->
    <footer>
      <p class="footer-info">
        &copy; <span id="current-year"></span> Thunder
        <i class="fa fa-bolt" aria-hidden="true"></i> load
      </p>
    </footer>

    <div class="downloader-bg-preload"></div>
