<div id="main-view" class="container">
  {% include "partials/main-view/header.njk" %}
  {% include "partials/main-view/actions.njk" %}
  {% include "partials/main-view/queue.njk" %}
  {% include "partials/main-view/history.njk" %}
</div>
