<div id="main-view" class="container">
  <div id="nav-visibility-sentinel" class="main-view-scroll-sentinel" aria-hidden="true"></div>
  {% include "partials/main-view/header.njk" %}
  {% include "partials/main-view/actions.njk" %}
  {% include "partials/main-view/queue.njk" %}
  {% include "partials/main-view/history.njk" %}
</div>
