      <!-- Shortcuts Modal -->
      <div
        id="shortcuts-modal"
        class="shortcuts-modal"
        role="dialog"
        aria-modal="true"
        aria-labelledby="shortcuts-title"
      >
        <div class="shortcuts-modal-content">
          <button class="close" aria-label="Закрыть">&times;</button>
          <h2 id="shortcuts-title">
            <i class="far fa-keyboard"></i> Горячие клавиши
          </h2>
          <details class="spoiler" open>
            <summary><i class="fas fa-chevron-right"></i> Основные</summary>
            <ul class="main-hotkeys">
              <hr />
              <li>
                <strong>Ctrl + P</strong>
                <p><i class="far fa-keyboard"></i> Горячие клавиши</p>
              </li>
              <li>
                <strong>Ctrl + ,</strong>
                <p><i class="fa-solid fa-gear"></i> Настройки</p>
              </li>
              <li>
                <strong>Ctrl + T</strong>
                <p><i class="fa-solid fa-toggle-on"></i> Переключить тему</p>
              </li>
              <hr />
              <li>
                <strong>Ctrl + 1</strong>
                <p><i class="fa-solid fa-download"></i> Вкладка «Downloader»</p>
              </li>
              <li>
                <strong>Ctrl + 2</strong>
                <p>
                  <i class="fa-solid fa-unlock-keyhole"></i> Вкладка «WG Unlock»
                </p>
              </li>
              <li>
                <strong>Ctrl + 3</strong>
                <p><i class="fa-solid fa-box-archive"></i> Вкладка «Backup»</p>
              </li>
              <hr />
              <li>
                <strong>Ctrl + B</strong>
                <p><i class="fas fa-bars"></i> Боковое меню</p>
              </li>
              <li>
                <strong>Ctrl + H</strong>
                <p>
                  <i class="fa-solid fa-clock-rotate-left"></i> История загрузок
                </p>
              </li>
              <li>
                <strong>Ctrl + K</strong>
                <p>
                  <i class="fa-regular fa-folder-open"></i> Папка с загрузками
                </p>
              </li>
              <li
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="При наличии ссылки в поле ввода URL"
              >
                <strong>Ctrl + D</strong>
                <p><i class="fas fa-download"></i> Начать скачивание</p>
              </li>
              <li>
                <strong>Ctrl + L</strong>
                <p>
                  <i class="fa-solid fa-circle-play"></i> Последнее загруженное
                  видео
                </p>
              </li>
              <li>
                <strong>Ctrl + M</strong>
                <p>
                  <i class="fas fa-trash-alt"></i> Очистить историю загрузок
                </p>
              </li>
            </ul>
          </details>

          <details class="spoiler">
            <summary>
              <i class="fas fa-chevron-right"></i> Специальные клавиши
            </summary>
            <ul class="additional-hotkeys">
              <span class="short-info">Открытие сайтов</span>
              <hr />
              <li>
                <strong>Ctrl + Shift + 1</strong>
                <p><i class="fab fa-youtube"></i> YouTube</p>
              </li>
              <li>
                <strong>Ctrl + Shift + 2</strong>
                <p><i class="fab fa-twitch"></i> Twitch</p>
              </li>
              <li>
                <strong>Ctrl + Shift + 3</strong>
                <p><i class="fab fa-vk"></i> VK Видео</p>
              </li>
              <li>
                <strong>Ctrl + Shift + 4</strong>
                <p><i class="fas fa-video"></i> Coub</p>
              </li>
            </ul>
          </details>
        </div>
      </div>
