      <!-- What's New Modal -->
      <div
        id="whats-new-modal"
        class="whats-modal"
        role="dialog"
        aria-modal="true"
        aria-labelledby="whats-new-title"
      >
        <div class="whats-modal-content">
          <div class="whats-modal-header">
            <div class="whats-title-block">
              <h2 id="whats-new-title">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span data-i18n="modal.whatsNew">Что нового?</span>
              </h2>
              <div class="whats-subtitle" data-i18n="modal.whatsNew.subtitle">
                Новые возможности и исправления
              </div>
            </div>
            <button
              class="close-whats-new"
              aria-label="Закрыть"
              data-i18n-aria="modal.close"
            >
              &times;
            </button>
          </div>
          <div class="whats-divider" aria-hidden="true"></div>
          <div id="whats-new-content"></div>
        </div>
      </div>
