      <!-- What's New Modal -->
      <div
        id="whats-new-modal"
        class="whats-modal"
        role="dialog"
        aria-modal="true"
        aria-labelledby="whats-new-title"
      >
        <div class="whats-modal-content">
          <button class="close-whats-new" aria-label="Закрыть">&times;</button>
          <h2 id="whats-new-title">
            <i class="fa fa-question-circle" aria-hidden="true"></i> Что нового?
          </h2>
          <hr />
          <div id="whats-new-content"></div>
        </div>
      </div>
