<div id="download-queue-info" class="download-queue-info hidden">
  <span data-i18n="queue.label">В очереди:</span>
  <span id="queue-count">0</span>
  <span data-i18n="queue.links">ссылок</span>
</div>

<div
  id="queue-start-indicator"
  class="queue-start-indicator hidden"
  data-i18n="queue.loading"
>
  ⏳ Загрузка из очереди...
</div>
