<div id="download-queue-info" class="download-queue-info hidden">
  В очереди: <span id="queue-count">0</span> ссылок
</div>

<div id="queue-start-indicator" class="queue-start-indicator hidden">
  ⏳ Загрузка из очереди...
</div>
