@use "sass:map";
@use "variables";

// src\scss\abstracts\_mixins.scss

/* Миксин для заголовков */
@mixin heading-style($font-size, $font-weight: 700) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: var(--color-accent);
}

@mixin media-breakpoint-up($breakpoint) {
  $min-width: map.get($grid-breakpoints, $breakpoint);

  @if $min-width !=null and $min-width >0 {
    @media (min-width: $min-width) {
      @content;
    }
  }
}

@mixin center-absolute {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Миксин для центрирования по Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Миксин для теней
@mixin box-shadow($x: 0, $y: 0, $blur: 10px, $color: rgba(0, 0, 0, 0.5)) {
  box-shadow: $x $y $blur $color;
}

// Общая тень для кнопок
@mixin common-box-shadow {
  @include box-shadow(0px, 3px, 2px, rgba(0, 0, 0, 0.2));
}

// Миксин для плавного появления
@mixin fade-in($duration: 1s, $timing: ease-in-out) {
  animation: fadeIn $duration $timing;
}

// Миксин для базовых стилей кнопки
@mixin button-base {
  position: relative;
  background: none;
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  overflow: hidden;
  height: 46px;
  @include flex-center;
  letter-spacing: 0.02rem;
  transition: all 0.1s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// Миксин для базовых стилей инпута
@mixin input-base($padding, $font-size: 16px) {
  flex: 1;
  padding: $padding;
  border: 2px solid var(--color-url-border);
  border-radius: var(--border-radius);
  background-color: var(--color-url-bg);
  color: var(--color-url-text);
  letter-spacing: 0.5px;
  backdrop-filter: blur(8px);
  font-size: $font-size;
  position: relative;
  z-index: 1;
  transition:
    border-color 0.4s ease,
    box-shadow 0.1s ease;
}

// Миксин иконки закрытия
@mixin close-button {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: var(--color-hover);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-highlight);
  cursor: pointer;
  z-index: 1001;
}

// Миксин для иконок кнопок
@mixin icon-button-base($right) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
  // width: 35px;
  // height: 28px;
  background: transparent;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: var(--color-highlight);

  &:hover {
    color: var(--color-accent);
  }
}

@mixin modal-overlay {
  display: none;
  position: fixed;
  z-index: 1024;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.5s ease-in-out;
}

@mixin header-style {
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 12px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@mixin glass-morphism {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  // box-shadow:
  //   0 8px 32px rgba(0, 0, 0, 0.2),
  //   inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

@mixin modal-content-base {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background: var(--color-url-bg);
  border: 1px var(--color-hover) solid;
  box-shadow: 0 4px 8px var(--color-hover);
  margin: 15px;
  backdrop-filter: blur(8px);
  padding: variables.$modal-padding;
  width: 70%;
  border-radius: variables.$modal-border-radius;
  animation: fadeIn variables.$animation-duration ease-in-out;

  h2 {
    color: var(--color-accent);

    i {
      padding-right: 10px;
    }
  }
}

@mixin backup-popup {
  display: block;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
  font-size: 0.95rem;
  font-weight: 500;
  background: rgba(32, 32, 40, 0.97);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  z-index: 10;
  margin-top: 4px;
  overflow-y: auto;
  max-height: 200px;
  padding: 4px 0;

  .popup-item {
    padding: 8px 12px;
    cursor: pointer;
    transition:
      background 0.2s,
      color 0.2s;

    &:hover,
    &:focus {
      background: rgba(120, 180, 255, 0.2);
      color: var(--color-accent);
    }
  }
}
