// src/scss/layout/_footer.scss

/* **** Стили для footer **** */
footer {
  padding: 8px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  width: 100%;

  p {
    color: var(--color-accent);

    &:hover {
      color: var(--color-highlight);
    }
  }
}
