// src/scss/platform/_macos.scss

body.is-mac {
  .btn-minimize,
  .btn-close {
    display: none !important;
  }

  .top-bar {
    padding-left: 8%;
  }

  .sidebar.is-collapsed {
    padding-top: 40px;
  }

  .window-controls {
    border: 1px var(--color-accent);
    // margin-right: 1rem;
  }

  #reload-app {
    color: var(--color-highlight);
  }
}
